@page
@model test_2.SuccessShippingModel
@{
    ViewData["Title"] = "SuccessShipping";
}
    <ol id="orderprocess">
        <li>
            <span class="done">1</span> Choose Item
        </li>
        <li>
            <span class="done">2</span> Details
        </li>
        <li>
            <span class="currnt">3</span> Receipt
        </li>
    </ol>
<h1>SuccessShipping</h1>

<div class="border-success">
    <h2>Thanks for your order!</h2>
    <p>We r processing ur order and have sent confirmation mail
    <br/>
    Thanks for ur time.
    </p>
</div>

